$success: #198754;


.card{
  cursor: pointer;
  transition-duration: .3s;


  h5{
    transition-duration: .3s;
    color: #444;

  }

  &:hover{

    border-bottom: solid 4px  $success;

    h5{
      color: $success;

    }
  }
}


